server:
  port: 8080
spring:
  application:
    name: apigatewayapplication
  main:
    web-application-type: reactive
  webflux:
    static-path-pattern: /static/**
  web:
    resources:
      static-locations: classpath:/static/
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: userservice-public
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/auth/login,/api/v1/auth/register
            - id: userservice-protected
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/users/**,/api/v1/profile/**, /api/v1/auth/logout
            - id: product-protected
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/products/**
            - id: productservice-images
              uri: http://localhost:8082
              predicates:
                  - Path=/static/images/**
            - id: inventoryservice-route
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/pcs/**
            - id: billingsevice-rotes
              uri: http://localhost:8084
              predicates:
                - Path=/api/v1/tariffs/**,/api/v1/sessions/**

jwt:
  secret: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJzdWIiOiIxIiwiZXhwIjoxNzMwMjI1MzE3fQ8fK7j9Lm2N4p6Q1r3T5v7X8z0BcD9FgH2Jk4M6oP8q"
  ttl-seconds: 8600000
  issuer: actisys-auth

logging:
  level:
    com.actisys.apigatewayapplication.filter: DEBUG
    com.actisys.apigatewayapplication.util: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"