server:
  port: 8080
spring:
  application:
    name: apigatewayapplication
  main:
    web-application-type: reactive
  webflux:
    static-path-pattern: /static/**
  web:
    resources:
      static-locations: classpath:/static/
  config:
    activate-on-profile: default
  cloud:
    gateway:
      server:
        webflux:
          routes:



jwt:
  secret: ${JWT_SECRET}
  ttl-seconds: 8600000
  issuer: actisys-auth

logging:
  level:
    com.actisys.apigatewayapplication.filter: DEBUG
    com.actisys.apigatewayapplication.util: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"