apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: app-namespace
type: Opaque
data:
  jwt-secret: TmV5SmhiR2NpT2lKSVV6STFOaUlzSW5SNWNDSTZJa3BYVkNKOWV5SnpkV0lpT2lJeElpd2laWGh3SWpveE56TXdNakkxTXpFM2ZROGZLN2o5TG0yTjRwNlExcjNUNXY3WDh6MEJjRDlGZ0gySms0TTZvUDhx
  yandex-cloud-s3-access-key: WUNBSkVuSm5uaWJfbWhzWVlYemVPcWlrXw==
  yandex-cloud-s3-secret-key: WUNPSFlvel80T2s2M0hwU1VZZTJvdVBLMFhjTHZCNUJ0dkppbGpjbw==

