apiVersion: v1
kind: ConfigMap
metadata:
  name: apigateway-config
  namespace: app-namespace
data:
  application.yml: |
    server:
      port: 8080
    spring:
      application:
        name: apigatewayapplication
      main:
        web-application-type: reactive
      webflux:
        static-path-pattern: /static/**
      web:
        resources:
          static-locations: classpath:/static/
      cloud:
        gateway:
          server:
            webflux:
              routes:
                - id: userservice-public
                  uri: http://user-service:8081
                  predicates:
                    - Path=/api/v1/auth/login,/api/v1/auth/register
                - id: userservice-protected
                  uri: http://user-service:8081
                  predicates:
                    - Path=/api/v1/users/**,/api/v1/profile/**, /api/v1/auth/logout, /api/v1/reviews/**
                - id: product-protected
                  uri: http://product-service:8082
                  predicates:
                    - Path=/api/v1/products/**,/api/v1/orders/**
                - id: productservice-images
                  uri: http://product-service:8082
                  predicates:
                    - Path=/static/images/**
                - id: inventoryservice-route
                  uri: http://inventory-service:8083
                  predicates:
                    - Path=/api/v1/pcs/**
                - id: billingservice-route
                  uri: http://billing-service:8084
                  predicates:
                    - Path=/api/v1/tariffs/**,/api/v1/sessions/**
                - id: adminservice-route
                  uri: http://admin-service:8085
                  predicates:
                    - Path=/api/v1/admin/sessions/**,/api/v1/admin/payments/**,/api/v1/admin/orders/**
                - id: payment-service-route
                  uri: http://payment-service:8086
                  predicates:
                    - Path=/api/v1/payments/**

    jwt:
    secret: ${JWT_SECRET}
    ttl-seconds: 8600000
    issuer: actisys-auth
    
    services:
      user:
        url: http://userservice:8081
        endpoints:
          create: /api/v1/users/create
          delete: /api/v1/users/{userId}
      auth:
        url: http://authservice:8082
        endpoints:
          register: /api/v1/auth/register
    
    logging:
      level:
        root: INFO
        com.apigateway: DEBUG
        org.springframework.web.server: DEBUG
        org.springframework.web.reactive: DEBUG
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics
      endpoint:
        health:
          show-details: always
          probes:
            enabled: true