apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: app-namespace
  labels:
    app: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8083
      targetPort: 8083
      protocol: TCP
  type: ClusterIP