apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-service
  namespace: app-namespace
  labels:
    app: admin-service
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin-service
  template:
    metadata:
      labels:
        app: admin-service
        version: v1
    spec:
      containers:
        - name: admin-service
          image: vegapankclub-admin-service:latest
          imagePullPolicy: Never

          ports:
            - containerPort: 8085
              protocol: TCP

          env:
            - name: SERVER_PORT
              value: "8085"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8085
            initialDelaySeconds: 180
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8085
            initialDelaySeconds: 180
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
      restartPolicy: Always


