apiVersion: v1
kind: Service
metadata:
  name: admin-service
  namespace: app-namespace
  labels:
    app: admin-service
spec:
  selector:
    app: admin-service
  ports:
    - port: 8085
      targetPort: 8085
      protocol: TCP
  type: ClusterIP