apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: app-namespace
  labels:
    app: payment-service
spec:
  selector:
    app: payment-service
  ports:
    - port: 8086
      targetPort: 8086
      protocol: TCP
  type: ClusterIP