apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: app-namespace
  labels:
    app: billing-service
spec:
  selector:
    app: billing-service
  ports:
    - port: 8084
      targetPort: 8084
      protocol: TCP
  type: ClusterIP